*{
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(../images/bg1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}   

.topleft {
  position: absolute;
  top: 2px;
  left: 20px;
  z-index: 2;
}

.topleft2 {
  position: absolute;
  top: 18px;
  left: 90px;
  color: white;
  z-index: 2;
}

.topright {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 18px;
  color: white;
  z-index: 2;
}

.rectangle {
  position: fixed ;
  width: 100%;    
  height: 50px;
  background: #2b2d7b;
  background-repeat: repeat-x;
  background-size: cover;
  top: 0;
}

.forgotpassword{
  margin-top: 25px;
  position: absolute;
  font-size: 18px;
}

.signupbox{
  padding: 20px;
  font-size: 18px;
}
.container {
  background: white;
  width: 610px;
  height: 350px;
  border-radius: 10px;
  margin: 0 auto;
  border-bottom: 1px black;
  margin-top: -200px;
  margin-left: 90px;
  z-index: 2
}
.containerSignUp {
  background: white;
  width: 590px;
  height: 500px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  border-bottom: 1px black;
  margin-right: 17px;
  z-index: 1;
}
.containerindex {
  background: white;
  width: 1200px;
  height: 500px;
  border-radius: 10px;
  margin: 0 auto;
  border-bottom: 1px black;
  margin-top: 20px;
  margin-right: 60px;
  z-index: 1;
}
.forgotAlign{
  border: 2px solid black;
  background-color: white;
    height: auto;
    margin: auto;
    padding: 30px;
    width: 50%;
}
table,th,td{
  border: 1px solid black;
}
.row {
  margin-left:-5px;
  margin-right:-5px;
}